.nav-link {
 position: relative;
  color: #000000;
  transition: color 0.3s ease;
  font-size: 18px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #007bff; 
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover {
  color: #007bff; 
}

.nav-link:hover::after {
  width: 100%;
}
.custom-blur-nav {
  background: rgba(120, 116, 116, 0.4); /* Change color & transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */

}

.a{
  
  color: #007bff;
}
 body {
      font-family: 'Out fit';
      background-color: #ffffff;
      font-family: 'Poppins', sans-serif;
    }
    .contact-section {
      max-width: 500px;
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .icon-box {
      width: 45px;
      height: 45px;
      background: #f7b500;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      font-size: 20px;
    }
    .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .contact-item h5 {
      margin: 0;
      font-weight: 600;
    }
    .contact-item p {
      margin: 0;
      color: #555;
    }
    .form-control{
      width: 400px;
      height: 50px;
      font-weight: 500;
      color: #fcd15a;
      border-radius: 50px;
    }
    .textarea{
      height: 140px;
      border-radius: 20px;
    }
    .fullscreen-img {
    width: 100%;
    height: 100vh;   
    object-fit: cover;
    
    display:flex;
    margin: 0;
    padding: 0;
}


    