.hero-section {
  position: relative;
  height: 60vh;
  background-image: 
    linear-gradient(to right, rgba(63, 250, 34, 0.938), rgba(255, 213, 45, 0.97)),
    url('about us image/student.jpg'); /* <-- update your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(54, 255, 54, 0.906), rgba(249, 207, 37, 0.838));
  z-index: 1;
  mix-blend-mode: multiply;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}
to right
.hero-content p {
  font-size: 1.2rem;
  color: #ffcc00;
}
.hero-section{
    height: 100vh;
    background: 
    linear-gradient( to right, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('about us image/student.jpg') center/cover no-repeat;
}