.carousel{
    margin-top: 90px;
    
}
.carousel-caption{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 80px;
  position: block;
  }
  .img1{
    height: 350px;
    width: 350px;
border-radius: 50%;


  }
  .bg-section {
    
  background-image: url('hps_bg.png');
  background-size: cover;
  min-height: 400px;
 margin-top: 30px;
}

 

.photo-slide{
    height: 350px;
    width: 300PX ;
    margin: 25px;
    border-radius: 10px;                                        ;
}
.ourschool{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

