.counter {
      font-size: 2.5rem;
      font-weight: bold;
      color: #007bff;
    }
    .counter-box {
      padding: 30px;
      background: #f8f9fa;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
    .counter-box:hover {
      transform: scale(1.05);
    }
.card1:hover{
       transform: scale(1.02);
  box-shadow: 0 8px 11px rgba(0,0,0,0.2);
  transition: transform 0.4s;
    }
