
    .nav-link {
 position: relative;
  color: #000000;
  transition: color 0.3s ease;
  font-size: 18px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #007bff; 
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover {
  color: #007bff; 
}

.nav-link:hover::after {
  width: 100%;
}

.a{
  
  color: #007bff;
}

.custom-blur-nav {
  background: rgba(120, 116, 116, 0.4); /* Change color & transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */

}
.counter {
      font-size: 2.5rem;
      font-weight: bold;
      color: #007bff;
    }
    .counter-box {
      padding: 30px;
      background: #f8f9fa;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
    .counter-box:hover {
      transform: scale(1.05);
    }
.card1:hover{
       transform: scale(1.02);
  box-shadow: 0 8px 11px rgba(0,0,0,0.2);
  transition: transform 0.4s;
    }

.social-media :hover {
  color: #0066ff; /* Change to your desired hover color */
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: transform 0.3s, color 0.3s; /* Smooth transition */
}
.carousel{
    margin-top: 90px;
    margin-bottom: 0px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
  .video-section {
    position: relative;
    width:100%;
    height: 85vh;           
    overflow: hidden;
  }

  .video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

  .poster-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;    
    background-image: url('about us image/play_icon.png');
    background-position: center; 
    background-repeat: no-repeat;

  }
  .poster-hidden{
    opacity: 0;
  }


