.carousel{
    margin-top: 90px;
    margin-bottom: 0px;
    
}
.carousel-caption .welcome-text{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 110px;
  position: block;
  }
.carousel-caption{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 100px;
  position: block;
  }
  .img1{
    height: 350px;
    width: 350px;
border-radius: 50%;
 

  }
  .bg-section {
    
  background-image: url('hps_bg.png');
  background-size: cover;
  min-height: 400px;
 margin-top: 30px;
}

 

.photo-slide{
    height: 350px;
    width: 300PX ;
    margin: 25px;
    border-radius: 10px;                                        ;
}
.ourschool{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin-top: 50px;
}
  .custom-blur-nav {
  background: rgba(120, 116, 116, 0.4); /* Change color & transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}
.my-5{
  margin: 0px;
padding: 10px;
}
.bg-c {
 background-color:rgba(225, 220, 220, 0.219) ; 
  padding: 20px;
  border-radius: 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.social-media :hover {
  color: #0066ff; /* Change to your desired hover color */
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: transform 0.3s, color 0.3s; /* Smooth transition */
}
